<div id="<%= dom_id citizen %>">
  <p>
    <strong>Status</strong>
    <%= citizen.status %>
  </p>
  <p>
    <strong>Nome</strong>
    <%= citizen.name %>
  </p>
  <p>
    <strong>Data de Nascimento</strong>
    <%= citizen.birthdate %>
  </p>
  <p>
    <strong>CNS</strong>
    <%= citizen.cns %>
  </p>
  <p>
    <strong>CPF</strong>
    <%= citizen.cpf %>
  </p>
  <p>
    <strong>Telefone</strong>
    <%= citizen.phone %>
  </p>
  <p>
    <strong>Email</strong>
    <%= citizen.email %>
  </p>
  <p>
    <strong>Cidade</strong>
    <%= citizen.address.city %>
  </p>
  <p>
    <strong>Estado</strong>
    <%= citizen.address.state %>
  </p>
  <p>
    <strong>Rua</strong>
    <%= citizen.address.street %>
  </p>
  <p>
    <strong>Cep</strong>
    <%= citizen.address.cep %>
  </p>
</div>
